
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div class="card card-danger">
        <div class="card-header">
            Access Denied
        </div>
        <div class="card-body">
            <h5 class="card-title">You don't have permission to complete this operation.</h5>
            <p class="card-text">Please contact with manager.</p>
            <a href="/Dashboard" class="btn btn-primary">Return To Dashboard</a>
        </div>
    </div>

