
@{
    ViewData["Title"] = "OtpGenerated";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div class="card card-success">
        <div class="card-header">
            SUCCESS
        </div>
        <div class="card-body">
            <h5 class="card-title">OTP has been generated successfully.</h5>
            <p class="card-text">OTP has been sent to user through email.</p>
            <a href="/Transaction/GetAllTransactionForAdmin" class="btn btn-primary">Return To List</a>
        </div>
    </div>

