
@{
    ViewData["Title"] = "TransactionSuccess";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div class="card card-success">
        <div class="card-header">
            SUCCESS
        </div>
        <div class="card-body">
            <h5 class="card-title">Transaction Has Been Completed Successfully.</h5>
            <p class="card-text"></p>
            <a href="/Transaction/GetAllTransactionForCustomer" class="btn btn-primary">Return To List</a>
        </div>
    </div>

