
@{
    ViewData["Title"] = "GetAllTransactionForCustomer";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


@{
    ViewData["Title"] = "GetAllTransactionForAdmin";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card-green">
            <div class="card-header">Transaction List</div>
            <div class="card-content">

                <table id="userTable" class="display nowrap table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr class="table-secondary">
                            <th>
                                Date
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Transaction No
                            </th>
                            <th>
                                Particulars
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Beneficiary Account No
                            </th>
                            <th>
                                Beneficiary Name
                            </th>
                            <th>
                                Bank Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Remarks
                            </th>

                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/datatable/jquery.dataTables.min.js"></script>
    <script src="~/datatable/dataTables.buttons.min.js"></script>
    <script src="~/datatable/jszip.min.js"></script>
    <script src="~/datatable/pdfmake.min.js"></script>
    <script src="~/datatable/vfs_fonts.js"></script>
    <script src="~/datatable/buttons.html5.min.js"></script>
    <script src="~/datatable/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {

            dataTable = $("#userTable").DataTable({
                "dom": "Bfrtip",
        "buttons": [
            "copy", "csv", "excel", "pdf", "print"
        ],
                "ajax": {
                    "url": "/Transaction/GetAllPendingTransactionForCustomer",
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "dateOfTransaction" },
                    { "data": "applicationUser.name" },
                    { "data": "transactionNumber" },
                    { "data": "particulars" },
                    { "data": "amount" },
                    { "data": "beneficiaryAccountNumber" },
                    { "data": "beneficiaryName" },
                    { "data": "beneficiaryBankName" },
                    { "data": "beneficiaryPhoneNumber" },
                    { "data": "beneficiaryEmail" },
                    { "data": "transactionStatus" },
                    { "data": "remarks" },
                    {
                        "data": "id", "render": function (data) {
                            return "<a class='btn btn-danger text-white' href='/Transaction/VerifyOtp/" + data + "'>VERIFY OTP</a>"
                        },
                        "scrollX": true,
                    }

                ],

                "language": {
                    "emptyTable":"No data found. Click on <b>Create New</b> button."
                }
            })

        });

    </script>

}

