
@{
    ViewData["Title"] = "TransactionSubmitted";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div class="card card-green">
        <div class="card-header">
            Transaction Has Been Submitted
        </div>
        <div class="card-body">
            <h5 class="card-title">Your transaction has been submitted successfully.</h5>
            <p class="card-text">Contact with manager for getting the OTP & complete the transaction.</p>
            <a href="/Dashboard" class="btn btn-primary">Return To Dashboard</a>
        </div>
    </div>

