@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model FastMoney.Models.ApplicationUser
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card-blue">
            <div class="card-header">Customer Details</div>
            <div class="card-content">
                <form method="post" asp-action="Details">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" disabled />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AccountNumber"></label>
                        <input asp-for="AccountNumber" class="form-control" disabled />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DateOfBirth"></label>
                                <input asp-for="DateOfBirth" class="form-control" disabled />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdentificationNumber"></label>
                                <input asp-for="IdentificationNumber" class="form-control" disabled />
                                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="StreetAddress"></label>
                        <input asp-for="StreetAddress" class="form-control" disabled />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City"></label>
                        <input asp-for="City" class="form-control" disabled />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="State"></label>
                        <input asp-for="State" class="form-control" disabled />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ZipCode"></label>
                        <input asp-for="ZipCode" class="form-control" disabled />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" disabled />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CurrentBalance"></label>
                        <input asp-for="CurrentBalance" class="form-control" disabled />
                        <span asp-validation-for="CurrentBalance" class="text-danger"></span>
                    </div>

                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {

                        if (Model.LockoutEnd == null || Model.LockoutEnd < DateTime.Now)
                        {
                            <button type="submit" class="btn btn-danger text-white" asp-route-id="@Model.Id"><i class="fa fa-lock" aria-hidden="true"></i> Lock</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success text-white" asp-route-id="@Model.Id"><i class="fa fa-unlock" aria-hidden="true"></i> Unlock</button>
                        }

                        <a asp-action="Index" class="btn btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Back To List</a>

                    }

                    else
                    {
                        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Back To Dashboard</a>
                    }


                </form>
            </div>
        </div>
    </div>
</div>

